{% extends 'base.html' %}
{% load static %}

{% block contents %}
#summer에서 가져온 것. head는 base.html에 넣어주고, body 부분에 html 코드를 그대로 가져옴.
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <input name="title" type="text">
                    <textarea name="contents" id="summernote"></textarea>
                    <button>게시글 작성 </button>
                </form>
                <script>
                  $('#summernote').summernote({
                    placeholder: '내용을 입력해주세요.',
                    tabsize: 2,
                    height: 120,
                    toolbar: [
                      ['style', ['style']],
                      ['font', ['bold', 'underline', 'clear']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['table', ['table']],
                      ['insert', ['link', 'picture', 'video']],
                      ['view', ['fullscreen', 'codeview', 'help']]
                    ]
                });
                </script>
                </div>
            </div>
        </section>
{% endblock %}